body {
    padding-top: 70px;
    padding-bottom: 70px;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    background-color: #EEE;
}
a {
    color: rgb(119, 119, 119);
}
a:hover {
    color: #FFF;
}

#tracks {
    height: 200px;
    border: 1px solid;
    overflow-y: auto;
    overflow-x: hidden;
}
.btn, .btn:hover, .btn.active, .btn.focus  {
    outline: 0 !important;
}
#tracks div {
    transition: background-color 1s;
}
#tracks .glyphicon {
    display: none;
}
#message {
    font-size: 0.8em;
}
.playing {
    background-color: #369;
}
.playing a {
    color: #FFF !important;
}

.playing .glyphicon {
    display: inherit !important;
}

#save-form {
    transition: opacity .5s, height .5s;
    opacity: 0;
    height: 0;
    visibility: hidden;
}

#save-form.show {
    visibility: visible;
    opacity: 1;
    height: 200px;
}
.sequencer canvas {
    color: #000;
    background: #CCC;
}

.spectrogram canvas {
    background-color: #000;
}

::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
}
::-webkit-scrollbar-thumb {
    border: 1px solid;
    background: rgb(119, 119, 119);
}

.drumkit .titlebar {
    display: none;
}
#bpm {
    border: 2px solid rgb(119,119,119);
    background-color: black;
    width: 50px;
}

.keyboard .titlebar {
    cursor: move;
    color: #FFF;
    border-bottom: none;
}

.keyboard {
    width: 256px;
    top: 200px;
    left: 200px;
    padding: 0 5px;
    background-color: #007;
}

.keyboard canvas {
    background-color: #FFF;
    color: #000;
}
.drumkit canvas {
    border: none;
}

.buttons {
    float: right;
}
.score canvas {
    background: #FFF;
    color: #000;
}

.mixer {
    background-color: #007;
    color: white;
}

.mixer canvas {
    background-color: #007;
}