canvas {
	background-color: #000;
    border: 1px solid rgb(119, 119, 119);
}
.btn i {
    transition: transform .2s;
}
form .btn:hover i {
    transform: scale(1.6, 1.6);
}
#tracks {
    width: 512px;
}
a {
    color: rgb(119, 119, 119);
}
.btn, .btn:hover, .btn.active, .btn.focus  {
    outline: 0 !important;
}
a:hover {
    color: #FFF;
}
#tracks div {
    transition: background-color 1s;
}
#tracks .glyphicon {
    display: none;
}
#message {
	font-size: 0.8em;
}
.playing {
    background-color: #369;
}
.playing a {
    color: #FFF !important;
}

.playing .glyphicon {
    display: inherit !important;
}

#save-form {
    transition: opacity .5s, height .5s;
    opacity: 0;
    height: 0;
    visibility: hidden;
}

#save-form.show {
    visibility: visible;
    opacity: 1;
    height: 200px;
}
.playlist {
    height: 500px;
    overflow: hidden;
}